<div class="hero">
  <div class="overlay"></div>
  <h1>Welcome To Hayeddine's Works</h1>
</div>

<style>
  .hero {
    background-image: url("pic.webp");
    background-position: right;
    background-size: 60%;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
  }

  .hero h1 {
    font-size: 3em;
    font-weight: lighter;
    text-align: center;
    position: relative;
    margin: 10px;
  }

  .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
</style>
